<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="RosieAI é um chatbot inteligente, desenvolvido para automatizar conversas e oferecer soluções rápidas e eficientes.">
    <meta name="keywords"
        content="chatbot, inteligência artificial, assistente virtual, RosieAI, automação de conversas">
    <meta name="author" content="TavinScapi">
    <title>RosieAI - Chatbot</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/rosie.css' %}">
    <script defer src="{% static 'js/rosie.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <!-- Open Graph (para compartilhamento em redes sociais) -->
    <meta property="og:title" content="RosieAI - Chatbot Inteligente">
    <meta property="og:description"
        content="Descubra o RosieAI, um chatbot inteligente projetado para automatizar conversas e fornecer respostas rápidas e precisas.">
    <meta property="og:image" content="{% static 'images/rosie-ai-thumbnail.jpg' %}">
    <meta property="og:url" content="https://www.exemplo.com/rosieai">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>


<body>
    <header>
        <div class="header-left">
            <div class="dropdown">
                <button class="btn-dropdown" onclick="toggleDropdown('config-dropdown', 'arrow-config')">
                    <i class="fas fa-cog"></i> <!-- Ícone de engrenagem -->
                    <span class="arrow arrow-config"></span>
                </button>
                <div id="config-dropdown" class="dropdown-content">
                    <a href="#">Configurações</a>
                    <a href="#">Sair</a>
                </div>
            </div>
            <span>RosieAI</span>
        </div>
        <div class="header-right">
            <div class="dropdown">
                <button class="btn-dropdown" onclick="toggleDropdown('user-dropdown', 'arrow-user')">
                    <i class="fas fa-user"></i> Entrar
                    <span class="arrow arrow-user"></span>
                </button>
                <div id="user-dropdown" class="dropdown-content">
                    <a href="#">Login</a>
                    <a href="#">Registrar</a>
                </div>
            </div>
            <img src="{% static 'images/profile-pic.jpg' %}" alt="Foto" class="profile-pic">
        </div>
    </header>
    

    <div class="chat-container" id="chat"></div>
    <h1>Olá meu chamo Rosie</h1>
    <h3>Como posso te ajudar?</h3>
    <div class="input-container">
        <div class="input-wrapper">
            <input type="text" id="pergunta" placeholder="Pergunte alguma coisa" oninput="toggleIcon()"
                onkeydown="handleKeyPress(event)">
            <button id="btnEnviar" onclick="enviarPergunta()">
                <span id="btnText">Enviar</span>
                <i id="btnIcon" class="fas fa-paper-plane" style="display: none;"></i>
            </button>
        </div>
        <div class="button-group">
            <button class="btn"><i class="fas fa-plus"></i> Anexar</button>
            <button class="btn"><i class="fas fa-globe"></i> Pesquisar</button>
            <button class="btn"><i class="fas fa-lightbulb"></i> Refletir</button>
        </div>
    </div>

    <footer>
        &copy; 2025 RosieAI. Todos os direitos reservados.
    </footer>
</body>

</html>