<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="RosieAI é um chatbot inteligente, desenvolvido para automatizar conversas e oferecer soluções rápidas e eficientes.">
    <meta name="keywords"
        content="chatbot, inteligência artificial, assistente virtual, RosieAI, automação de conversas">
    <meta name="author" content="TavinScapi">
    <title>RosieAI - Chatbot</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/rosie.css' %}">
    <script defer src="{% static 'js/rosie.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <!-- Open Graph (para compartilhamento em redes sociais) -->
    <meta property="og:title" content="RosieAI - Chatbot Inteligente">
    <meta property="og:description"
        content="Descubra o RosieAI, um chatbot inteligente projetado para automatizar conversas e fornecer respostas rápidas e precisas.">
    <meta property="og:image" content="{% static 'images/rosie-ai-thumbnail.jpg' %}">
    <meta property="og:url" content="https://www.exemplo.com/rosieai">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header>
        <div class="menu-logo">
            <div class="menu-toggle" onclick="toggleMenu()">
                <i class="fas fa-bars"></i>
            </div>
            <div class="logo">RosieAI</div>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <ul class="nav-links">
            <li><a href="#" onclick="resetPage()" id="novoChat">Novo Chat</a></li>
            <hr class="divider">
            <li><a href="{% url 'blob_animation' %}" id="sobre">Sobre</a></li>
            <li><a href="#" onclick="toggleConfig()" id="config">Configurações</a></li>
            <li><a href="#" id="contato">Contato</a></li>
        </ul>
    </nav>

    <div class="config-container" id="configContainer">
        <h2 id="tituloConfig">Configurações</h2>
        <label for="idioma" id="labelIdioma">Idioma:</label>
        <select id="idioma" onchange="changeLanguage()">
            <option value="pt">Português</option>
            <option value="en">Inglês</option>
        </select>
        <br>
    </div>
    <div id="blob-container">
    </div>
    

    <div class="chat-container" id="chat"></div>
    <h1>Olá, meu nome é Rosie</h1>
    <h3>Como posso te ajudar?</h3>
    <div class="input-container">
        <div class="input-wrapper">
            <input type="text" id="pergunta" placeholder="Pergunte alguma coisa" oninput="toggleIcon()"
                onkeydown="handleKeyPress(event)">
            <button id="btnEnviar" onclick="enviarPergunta()" aria-label="Enviar mensagem" role="button">
                <span id="btnText">Enviar</span>
                <i id="btnIcon" class="fas fa-paper-plane" style="display: none;"></i>
            </button>
        </div>
        <div class="button-group">
            <button class="btn"><i class="fas fa-plus"></i> Anexar</button>
            <button class="btn"><i class="fas fa-lightbulb"></i> Refletir</button>
            <button class="btn"><i class="fas fa-microphone"></i> Falar</button>
        </div>
    </div>

    <script>
        var imageUrl = "{% static 'images/profile-pic.jpg' %}";
    </script>


    <footer>
        &copy; 2025 RosieAI. Todos os direitos reservados.
    </footer>
</body>

</html>